# MongoDB Connection URI
# For local MongoDB: mongodb://localhost:27017/feverdb
# For MongoDB Atlas: mongodb+srv://username:password@cluster.mongodb.net/feverdb
MONGODB_URI=mongodb://localhost:27017/feverdb

# Server Port
# Default: 3000
PORT=3000